<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Your Application to Admin <strong><%= @org.title %></strong></h4>
      </div>

      <div class="panel-body">
        <p><strong>Status:</strong> <%= approval_status_for(@claim) %></p>

        <% if @claim.reason %>
          <p><%= @claim.reason %></p>
        <% end %>
      </div>
    </div>
  </div>  
</div>