<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
          <% @countries.each do |country| %>
            <div class="col-md-12">
                <h3><%= link_to country.name, area_path(country) %></h3>
                <hr>

                <div class="row">
                    <% country.children.each do |region| %>
                        <div class="col-md-4">
                            <h4><%= link_to region.name, area_path(region) %></h4>

                            <hr>

                            <% region.children.each do |metro| %>
                                <h5>
                                    <%= link_to metro.name, area_path(metro) %>
                                </h5>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>