<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
          <% @countries.each do |country| %>
            <div class="col-md-12">
                <h3><a href="#"><%= country.name %></a></h3>

                <hr>

                <div class="row">
                    <% country.children.each do |region| %>
                        <div class="col-md-4">
                            <h4><a href="#"><%= region.name %></a></h4>

                            <hr>

                            <% region.children.each do |metro| %>
                                <h5>
                                    <a href="#">
                                        <%= metro.name %>
                                    </a>
                                </h5>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>