<div class="row">
  <%= render 'partials/search' %>

  <% @categories.each do |category| %>
    <div class="col-md-4">
      <h5><%= category.name %></h5>
      <hr>

      <% category.children.each do |inter| %>
        <h5><%= link_to inter.name, category_organizations_path(inter), class: 'bold-link' %> <!-- listings count --></h5>

        <div class="row">
          <% inter.children.each do |sub| %>
            <div class="col-md-4">
              <h6><%= link_to sub.name, category_organizations_path(sub), class: 'small-link' %> <!-- listings count --></h6>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>