<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <%= link_to !!current_area ? current_area.name : 'Home', root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Categories', categories_path(current_area) if !!current_area %>
                </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                <!-- guest links @guest -->
                    <li>
                        <!-- <a href="{{ route('login') }}">Login</a> -->
                    </li>
                    <li>
                        <!-- <a href="{{ route('register') }}">Register</a> -->
                    </li>
                <!-- logged in links -->
                    <li>
                        <!-- <a href="{{ route('listings.favorites.index', [$area]) }}">Favorites</a> -->
                    </li>
                    <li>
                        <!-- <a href="{{ route('listings.viewed.index', [$area]) }}">Recently Viewed</a> -->
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
                            Listings <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- <a href="{{ route('listings.create', [$area]) }}">New Listing</a> -->
                            </li>

                            <li>
                                <!-- <a href="{{ route('listings.unpublished.index', [$area]) }}">Your Unpublished Listings ({{ $unpublishedCount }})</a> -->
                            </li>

                            <li>
                               <!--  <a href="{{ route('listings.published.index', [$area]) }}">Your Published Listings ({{ $publishedCount }})</a> -->
                            </li>                            
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
                            <!-- username --> <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <!-- logout link -->
                            </li>
                        </ul>
                    </li>
                <!-- @endguest -->
            </ul>
        </div>
    </div>
</nav>