<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
  </head>

  <body>
    <%= render 'layouts/partials/nav' %>

    <%= yield %>

    <%= render 'layouts/partials/scripts' %>
  </body>
</html>
