<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
  </head>

  <body>
    <%= render 'layouts/partials/nav' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/partials/scripts' %>
  </body>
</html>
